<!-- A grey navbar that expands horizontally at medium device -->
<nav class="navbar navbar-expand-md bg-light navbar-light">
	<!-- The brand(or icon) of the navbar -->
	<a class="navbar-brand" href="~/Home/StallMain"
	   style="font-size:32px; font-weight:bold; color:#3399FF;">
		VoicePay
	</a>
	<!-- Toggle/collapsible Button, also known as hamburger button -->
	<!-- Links in the navbar, displayed as drop-down list when collapsed -->
	<!-- Links that are aligned to the left,
	me-auto: margin-end, i.e., right margin, auto-adjusted -->
	<!-- Links that are aligned to the right,
	 ms-auto: margin-start, i.e., left margin, auto-adjusted -->
	<ul class="navbar-nav ms-auto">
		<li class="nav-item">
			<!-- A link for logging out user -->
			<a class="nav-link" href="~/Home/LogOut">Log Out</a>
		</li>
	</ul>
</nav>
<body>
	<link rel="stylesheet" href="~/css/StallMain.css" />

</body>
