@model VoicePay.Models.Inventory

@{
    ViewData["Title"] = "Edit Inventory";
}
<h4 class="PageTitle">Edit Inventory</h4>

<style>
    .col-md-3 {
        font-weight: bold
    }

    .custom-btn-primary {
        background-color: #04AA6D; /* Custom color for primary button */
        color: #ffffff; /* Text color for primary button */
        border: none;
        cursor: pointer;
    }

        .custom-btn-primary:hover {
            background-color: #04AA6D;
            color: #ffffff;
        }

        .custom-btn-primary:active {
            background-color: #04AA6D;
            box-shadow: 0 5px #666;
        }

</style>

<hr />
<div class="container mt-4">
    <form asp-action="EditInventory" method="post">
        <fieldset class="FormContent">

            <div class="row mb-3">
                <label asp-for="ItemName" class="col-md-3 col-form-label">Item Name:</label>
                <div class="col-md-9">
                    <input asp-for="ItemName" value="@Model.ItemName" class="form-control" />        
                    <span asp-validation-for="ItemName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Quantity" class="col-md-3 col-form-label">Quantity:</label>
                <div class="col-md-9">
                    <input asp-for="Quantity" value="@Model.Quantity" type="number" class="form-control" />          
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="SupplierName" class="col-md-3 col-form-label">Supplier Name:</label>
                <div class="col-md-9">
                    <input asp-for="SupplierName" value="@Model.SupplierName" class="form-control" />           
                    <span asp-validation-for="SupplierName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="SupplierContactNo" class="col-md-3 col-form-label">Supplier Contact:</label>
                <div class="col-md-9">
                    <input asp-for="SupplierContactNo" value="@Model.SupplierContactNo" class="form-control" />           
                    <span asp-validation-for="SupplierContactNo" class="text-danger"></span>
                </div>
            </div>
            <input type="hidden" asp-for="InventoryID" />
            <div class="row">
                <div class="col-md-12 text-right">
                    <input type="submit" value="Confirm" class="btn custom-btn-primary" />
                    <a asp-action="Inventory" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>

