@model IEnumerable<VoicePay.Models.Inventory>
@{
    ViewData["Title"] = "View Inventory";
}

<style>

</style>

<h4 class="PageTitle">View Inventory</h4>
<!-- Add a partial view to display a list of staff records
 in a tabular format. -->
<partial name="_ViewInventory.cshtml" model="@Model" />

<div class="text-center">
    <button type="button" class="btn btn-success" onclick="redirectToCreateInventory()">
        <span aria-hidden="true">+</span></button>
</div>
<script>
    function redirectToCreateInventory() {
        // Use JavaScript to redirect to the desired URL
        window.location.href = '@Url.Action("CreateInventory", "Home")';
    }
</script>