@model IEnumerable<VoicePay.Models.Inventory>
@{
    ViewData["Title"] = "View Inventory";
}

<style>
    .custompri {
        background-color: #04AA6D;
    }

        .custompri:hover {
        background-color: #04AA6D;
        color: #ffffff;
    }

        .custompri:active {
        background-color: #04AA6D;
        box-shadow: 0 5px #666;
    }
</style>

<h4 class="PageTitle">View Inventory</h4>
<!-- Add a partial view to display a list of staff records
 in a tabular format. -->
<partial name="_ViewInventory.cshtml" model="@Model" />

<div class="text-center">
    <button type="button" class="btn custompri" onclick="redirectToCreateInventory()">
        <span style="color: white;" aria-hidden="true">+</span>
    </button>
</div>
<script>
    function redirectToCreateInventory() {
        // Use JavaScript to redirect to the desired URL
        window.location.href = '@Url.Action("CreateInventory", "Home")';
    }
</script>