@model IEnumerable<VoicePay.Models.Inventory>
@{
    ViewData["Title"] = "View Inventory";
}
<h4 class="PageTitle">View Inventory</h4>
<p><a asp-action="CreateInventory">Create Inventory Item</a></p>
<!-- Add a partial view to display a list of staff records
 in a tabular format. -->
<partial name="_ViewInventory.cshtml" model="@Model" />