<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>VoicePay</title>
    <link rel="stylesheet" type="text/css" href="~/css/Language.css">
</head>
<body>
    <div class="center">
        <div id="google_translate_element"></div>
    </div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                includedLanguages: 'en,zh-CN,zh-TW,ta,ms',
            }, 'google_translate_element');

            // Center the translate element after it is loaded
            centerTranslateElement();

            // Adjust for mobile view on window resize
            window.addEventListener('resize', function () {
                centerTranslateElement();
            });
        }

        function centerTranslateElement() {
            var translateElement = document.getElementById('google_translate_element');
            translateElement.style.position = 'absolute';
            translateElement.style.top = '50%';
            translateElement.style.left = '50%';
            translateElement.style.transform = 'translate(-50%, -50%)';

            // Adjust for mobile view
            if (window.innerWidth <= 768) {
                translateElement.style.width = '80%'; // Adjusted width for better responsiveness
                translateElement.style.setProperty('font-size', '16px', 'important'); // Adjust font size for mobile
            } else {
                translateElement.style.width = ''; // Reset to default
                translateElement.style.setProperty('font-size', '', 'important'); // Reset font size
            }
        }
    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>
