<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rickroll QR Code</title>
	<style>
		.image-container {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 20vh;
			width: 80vh;
			max-width: 90%;
		}

		img{
			max-width: 100%;
			object-fit: contain;
		}
	</style>
</head>
<body>
    <div class="image-container">
		<img src="@Url.Content("~/images/qrcode.png")" alt="QR Code" alt="Rickroll QR Code">
    </div>

	<script>
		// Check if the URL has a success parameter indicating a successful payment
		const urlParams = new URLSearchParams(window.location.search);
		const paymentSuccess = urlParams.get('success');

		if (paymentSuccess === 'true') {
			// Perform any additional logic for successful payments

			// Redirect to the desired confirmation page on your website
			window.location.href = '/Home/Confirm';
		} else {
			// Handle other cases or display an error message
		}
	</script>
</body>
</html>