@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.custom-table-responsive {
    position: relative;
    z-index: 1;
}

.date-filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 100%;
}

.date-filters {
    display: flex;
    gap: 4px;
    align-items: center; /* Align items vertically */
}
.date-filters select {
    width: 100px; /* Set your desired width */
}
.date-filters label {
    width: 100px;
    max-width:100%;
}
.date-filters select,
.date-filters label {
margin: 0; /* Remove any margin */
}


button {
    margin-top: 5px;
    width: 100px;
}

.custom-table-responsive {
    max-width: 1200px;
    margin: auto;
    overflow-x: auto;
}

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width:100%
}

@media (max-width: 768px) {
    .date-filters select {
        width: calc(50% - 5px); /* Adjust based on your design */
    }
}