/* Style the language dropdown list */
body #google_translate_element .goog-te-combo {
    color: #fff;
    background-color: #04AA6d;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

body #google_translate_element .goog-te-combo-arrow {
    border-color: #fff transparent transparent transparent;
}

/* Style the dropdown options */
body #google_translate_element .goog-te-menu-value,
body #google_translate_element .goog-te-menu2-item {
    color: #333;
    background-color: #04AA6d;
    border-bottom: 1px solid #ddd;
    padding: 12px;
    font-size: 16px;
}

    body #google_translate_element .goog-te-menu2-item:last-child {
        border-bottom: none;
    }

    body #google_translate_element .goog-te-menu2-item:hover {
        background-color: #026246;
    }
