body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    /* Your styling for the navigation bar goes here */
}

.center {
    text-align: center;
    margin-top: 20px; /* Adjust margin-top as needed */
}

#google_translate_element {
    max-width: 100%; /* Ensure it doesn't exceed the screen width */
}

/* Media query for mobile view */
@media (max-width: 768px) {
    #google_translate_element {
        width: 80%; /* Adjust width for smaller screens */
    }
}

.center-content {
    /* Additional styling for centering the main content below the navigation bar */
    flex-grow: 1; /* Take up remaining vertical space */
    display: flex;
    justify-content: center;
    align-items: center;
}
